# use flake

# export NODE_ENV="development"
export MARBLE_BOT=""
export MARBLE_KEY=""
export MARBLE_TOKEN=""
export MARBLE_ID=""
export MARBLE_SECRET=""
export MARBLE_WEBHOOK_ID=""
export MARBLE_WEBHOOK_TOKEN=""
