# use flake

# export NODE_ENV="development"
export BLOB_DEV_GUILD=""
export BLOB_DEV=""
export BLOB_BOT=""
export BLOB_KEY=""
export BLOB_TOKEN=""
export BLOB_ID=""
export BLOB_SECRET=""
export BLOB_WEBHOOK_ID=""
export BLOB_WEBHOOK_TOKEN=""
