# artifacts
node_modules/
out/
tsconfig.tsbuildinfo

# These files are for nix's direnv integrations
.envrc
.direnv

# Data
Blob.db
config.json
data.json
ignore/
scores/

# This file stores the last refresh token for the ramune user client
.refresh

